* {
  font-family: Rubik; }

#login-wrap {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0000008f; }

#login-popup, #signup-popup {
  z-index: 2;
  background-color: #fff;
  color: #222E50;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 20px #0000002d;
  position: fixed;
  margin: auto;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px; }
  #login-popup button, #signup-popup button {
    float: right;
    border: 0;
    padding: 1px 10px 3px 10px;
    color: #222E50;
    font-size: 24px;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer; }
    #login-popup button:hover, #login-popup button::selection, #login-popup button:focus, #signup-popup button:hover, #signup-popup button::selection, #signup-popup button:focus {
      background-color: #23464d2a;
      border-radius: 20px;
      color: #222;
      transition: 0.3s all;
      outline: 0; }
  #login-popup form, #signup-popup form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #login-popup form input, #signup-popup form input {
      background-color: #00799113;
      color: #222E50;
      font-size: 14px;
      box-sizing: border-box;
      border: 0;
      border-radius: 20px;
      margin: 5px auto;
      width: 185px;
      padding: 15px; }
      #login-popup form input:hover, #login-popup form input::selection, #login-popup form input:focus, #signup-popup form input:hover, #signup-popup form input::selection, #signup-popup form input:focus {
        background-color: #23464d2a;
        box-shadow: 0 3px 7px #0000000e;
        transition: 0.3s all;
        outline-style: none; }
      #login-popup form input[type=submit], #signup-popup form input[type=submit] {
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #fff;
        background-color: #007991;
        cursor: pointer; }
        #login-popup form input[type=submit]:hover, #login-popup form input[type=submit]::selection, #login-popup form input[type=submit]:focus, #signup-popup form input[type=submit]:hover, #signup-popup form input[type=submit]::selection, #signup-popup form input[type=submit]:focus {
          background-color: #036174;
          box-shadow: 0 3px 7px #0000000e;
          transition: 0.3s all; }
    #login-popup form h3, #signup-popup form h3 {
      font-size: 36px;
      font-weight: 500;
      cursor: default;
      margin: 0 0 10px 3px; }
    #login-popup form p, #signup-popup form p {
      margin: 2px 0 0 0;
      display: flex;
      justify-content: center; }
      #login-popup form p a, #signup-popup form p a {
        font-size: 14px;
        font-weight: 500;
        width: 80px;
        text-decoration: none;
        color: #007991;
        padding: 5px 0 5px 0;
        border-radius: 20px;
        text-align: center;
        transition: 0.3s all; }
        #login-popup form p a:hover, #login-popup form p a::selection, #login-popup form p a:focus, #signup-popup form p a:hover, #signup-popup form p a::selection, #signup-popup form p a:focus {
          color: #222;
          cursor: pointer;
          width: 185px;
          background-color: #23464d2a;
          transition: 0.4s all;
          outline: 0; }

/*# sourceMappingURL=login-popup.css.map */
