* {
  margin: 0;
  font-family: Rubik;
  color: #222E50;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: 0.3s all;
  -webkit-transition: 0.3s all; }

input, textarea {
  -moz-user-select: text;
  -webkit-user-select: text; }

code {
  font-family: 'Courier New', Courier, monospace; }

::-moz-selection, ::-webkit-selection {
  background-color: rgba(0, 119, 142, 0.5); }

a:not(.link-about) {
  color: #1abc9c;
  text-decoration: none; }

a:hover {
  color: #f6a623;
  transition: 0.3s all;
  -webkit-transition: 0.3s all; }

h1, h2, h3, h4 {
  color: #333; }

p {
  line-height: 1.5; }

code {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3px; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

button, .button {
  cursor: pointer;
  background-color: #fff;
  color: #007991;
  font-family: Rubik;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px 10px 25px;
  border: 0;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 0.3s all;
  -webkit-transition: 0.3s all; }
  button:hover, .button:hover {
    box-shadow: inset 0 -3px 0px rgba(0, 121, 145, 0.4), 0 5px 5px rgba(0, 78, 94, 0.15);
    transition: 0.3s all;
    -webkit-transition: 0.3s all; }

body {
  margin-top: 160px; }

.header-fixed {
  padding: 0 !important;
  box-shadow: 0 0 10px rgba(0, 121, 145, 0.3);
  transition: 0.15s all;
  -webkit-transition: 0.15s all; }

.header {
  position: fixed;
  height: 60px;
  z-index: 1;
  width: 100%;
  top: 0;
  padding: 50px 0 50px 0;
  background-color: #007991;
  transition: 0.3s all;
  -webkit-transition: 0.3s all; }
  .header .container {
    padding: 0 10px 0 10px;
    display: flex;
    height: 100%;
    align-items: center; }
    .header .container a {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      transition: 0.3s all;
      -webkit-transition: 0.3s all; }
      .header .container a:hover {
        cursor: pointer;
        color: #333;
        transition: 0.3s all;
        -webkit-transition: 0.3s all; }
    .header .container #header-title {
      align-content: flex-start; }
      .header .container #header-title .onHover {
        fill: #333;
        stroke: #333; }
      .header .container #header-title .onHoverStr {
        fill: #333; }
      .header .container #header-title svg {
        width: 47px !important;
        height: 35px !important; }
        .header .container #header-title svg path, .header .container #header-title svg rect {
          fill: #fff; }
        .header .container #header-title svg rect {
          stroke: #fff; }
    .header .container #header-nav {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-content: center; }
      .header .container #header-nav .toggle-display {
        display: block; }
      .header .container #header-nav .pos-out .pos-out-clicked {
        background-color: rgba(0, 0, 0, 0.1); }
      .header .container #header-nav .pos-out .pos-out-content {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        padding: 7px 0px 7px 7px;
        margin-left: -5px; }
        .header .container #header-nav .pos-out .pos-out-content:hover {
          background-color: rgba(0, 0, 0, 0.04);
          cursor: pointer; }
        .header .container #header-nav .pos-out .pos-out-content .btn-open {
          padding: 8px 6px 8px 6px;
          margin: 0 5px 0 3px; }
        .header .container #header-nav .pos-out .pos-out-content .clicked {
          transform: rotateX(180deg); }
      .header .container #header-nav li {
        display: flex;
        padding-left: 20px;
        margin: auto 0 auto 0; }
        .header .container #header-nav li img {
          vertical-align: middle;
          border-radius: 50%;
          border: #fff solid 3px; }
      .header .container #header-nav button {
        background-color: #fff;
        color: #007991; }
        .header .container #header-nav button:hover {
          transition: 0.3s all;
          -webkit-transition: 0.3s all; }
    .header .container .user-menu {
      position: fixed;
      background-color: #fff;
      display: none;
      border-radius: 0 0 10px 10px;
      width: 169px;
      height: min-content;
      box-shadow: 0 5px 10px rgba(34, 46, 80, 0.2); }
      .header .container .user-menu ul {
        align-self: center;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        justify-content: flex-start; }
        .header .container .user-menu ul li {
          padding: 10px 20px 10px 20px !important; }
          .header .container .user-menu ul li:last-of-type {
            border-radius: 0 0 10px 10px; }
          .header .container .user-menu ul li:hover, .header .container .user-menu ul li::selection, .header .container .user-menu ul li:focus {
            background-color: rgba(0, 121, 145, 0.18);
            cursor: pointer; }
          .header .container .user-menu ul li a {
            color: #222E50 !important; }

.sticky-footer {
  bottom: 0;
  position: fixed;
  width: 100%; }

#footer {
  background-color: #161e2e;
  padding: 50px 0; }
  #footer .container {
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 10px;
    margin: 0 auto 0 auto; }
    #footer .container .column {
      min-width: 300px;
      max-width: 650px;
      vertical-align: top; }
      #footer .container .column h4 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.1em; }
        #footer .container .column h4 a:hover {
          color: #f6a623; }
      #footer .container .column p {
        color: #fff;
        margin-top: 17px; }
      #footer .container .column a img {
        margin-right: 10px;
        filter: grayscale(1);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: 0.3s all;
        -webkit-transition: 0.3s all; }
        #footer .container .column a img:hover {
          filter: none;
          transition: 0.3s all;
          -webkit-transition: 0.3s all; }
      #footer .container .column .link-about {
        text-decoration: none;
        color: #fff; }

#content .container {
  overflow: hidden; }
  #content .container .left-col {
    display: block;
    float: left;
    margin: 0 220px 0 0; }
    #content .container .left-col .post {
      margin: 20px 0 20px 0;
      display: block;
      padding: 20px;
      border-radius: 10px;
      background-color: rgba(34, 34, 34, 0.05); }
    #content .container .left-col .post-author {
      background-color: rgba(0, 121, 145, 0.15);
      border-radius: 10px 10px 0 0;
      font-weight: 500;
      margin: -20px;
      padding: 20px; }
      #content .container .left-col .post-author span {
        margin-left: 10px; }
        #content .container .left-col .post-author span a {
          color: #222E50; }
          #content .container .left-col .post-author span a:hover {
            color: #f6a623; }
      #content .container .left-col .post-author img {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        border-radius: 50%; }
      #content .container .left-col .post-author div {
        display: unset; }
    #content .container .left-col .post-date {
      color: rgba(0, 0, 0, 0.4);
      font-size: 14px;
      font-weight: 500;
      font-style: italic;
      margin-top: 15px;
      display: block;
      float: right;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
    #content .container .left-col .post-title {
      margin: 20px -20px 0px -20px;
      padding: 5px 20px 5px 20px;
      font-weight: 500;
      background-color: rgba(0, 100, 120, 0.06);
      -webkit-user-select: text; }
    #content .container .left-col .post-content {
      margin-top: 15px; }
      #content .container .left-col .post-content h1, #content .container .left-col .post-content h2, #content .container .left-col .post-content h3, #content .container .left-col .post-content h4, #content .container .left-col .post-content h5 {
        margin: 20px 0 10px 0; }
      #content .container .left-col .post-content img {
        display: block;
        margin: 20px auto 20px auto;
        width: 50%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 100, 120, 0.06);
        height: auto; }
      #content .container .left-col .post-content p {
        -webkit-user-select: text; }
    #content .container .left-col .bottom-acts {
      display: flex;
      margin-top: 15px; }
      #content .container .left-col .bottom-acts .social-acts {
        align-items: center;
        display: flex; }
        #content .container .left-col .bottom-acts .social-acts .social-btn {
          margin-right: 20px;
          display: flex;
          flex-direction: row; }
          #content .container .left-col .bottom-acts .social-acts .social-btn p {
            font-weight: 500;
            font-size: 18px;
            margin-left: 5px;
            color: rgba(34, 46, 80, 0.5); }
          #content .container .left-col .bottom-acts .social-acts .social-btn svg {
            width: 30px;
            height: 30px;
            fill: none; }
            #content .container .left-col .bottom-acts .social-acts .social-btn svg:hover {
              cursor: pointer; }
          #content .container .left-col .bottom-acts .social-acts .social-btn .like path {
            stroke: rgba(34, 46, 80, 0.5);
            stroke-width: 2.4px;
            fill: #ffffff00; }
            #content .container .left-col .bottom-acts .social-acts .social-btn .like path:hover {
              stroke: #007991; }
          #content .container .left-col .bottom-acts .social-acts .social-btn .liked {
            fill: #EB5757 !important;
            stroke: #EB5757 !important; }
          #content .container .left-col .bottom-acts .social-acts .social-btn .repost path {
            fill: rgba(34, 46, 80, 0.5); }
            #content .container .left-col .bottom-acts .social-acts .social-btn .repost path:hover {
              fill: #007991; }
          #content .container .left-col .bottom-acts .social-acts .social-btn .comments path {
            stroke: rgba(34, 46, 80, 0.5);
            stroke-width: 1.7px;
            fill: #ffffff00; }
            #content .container .left-col .bottom-acts .social-acts .social-btn .comments path:hover {
              fill: #007991;
              stroke: #007991; }
      #content .container .left-col .bottom-acts .tags {
        display: flex;
        margin-left: auto;
        align-items: center; }
        #content .container .left-col .bottom-acts .tags h4 {
          font-weight: 500;
          font-size: 18px;
          margin-left: 5px;
          color: rgba(34, 46, 80, 0.5); }
          #content .container .left-col .bottom-acts .tags h4 a {
            color: rgba(34, 46, 80, 0.5); }
            #content .container .left-col .bottom-acts .tags h4 a:hover {
              color: #f6a623; }
  #content .container .right-col {
    background-color: rgba(10, 95, 112, 0.15);
    border-radius: 10px;
    flex-direction: column;
    float: right;
    align-items: stretch;
    width: 200px;
    margin: 20px 0 20px -100%; }
    #content .container .right-col .right-col-content {
      margin: 10px; }
      #content .container .right-col .right-col-content .postwr {
        background-color: #007991;
        margin-bottom: 10px;
        color: #fff;
        width: 100%; }
        #content .container .right-col .right-col-content .postwr:hover {
          box-shadow: inset 0 -3px 0px rgba(255, 255, 255, 0.3), 0 5px 5px rgba(0, 78, 94, 0.15); }
    #content .container .right-col .threads {
      text-align: center;
      padding: 0; }
      #content .container .right-col .threads p {
        padding: 0 0 10px 0;
        text-transform: uppercase;
        font-weight: 500; }
      #content .container .right-col .threads li {
        margin: 0 -10px;
        list-style: none;
        padding: 7px 0 7px;
        background-color: rgba(9, 83, 98, 0.15); }
        #content .container .right-col .threads li:first-of-type {
          border-radius: 10px 10px 0 0; }
        #content .container .right-col .threads li:last-of-type {
          border-radius: 0 0 10px 10px;
          margin-bottom: -10px; }
        #content .container .right-col .threads li:hover {
          background-color: rgba(7, 71, 84, 0.25); }

.user-page {
  margin: 20px 0 20px 0;
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(34, 34, 34, 0.05); }
  .user-page .user-about {
    display: flex;
    align-items: center;
    margin: -20px -20px 10px -20px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(0, 121, 145, 0.2);
    border-radius: 10px 10px 0px 0px; }
    .user-page .user-about .avatar {
      width: 25%;
      height: 25%;
      border-radius: 50%;
      margin-right: 20px; }
    .user-page .user-about .bio .user-name {
      font-weight: 500;
      font-size: 24px;
      color: #222E50; }
      .user-page .user-about .bio .user-name::before {
        content: "@"; }
    .user-page .user-about .bio .real-name {
      color: rgba(34, 46, 80, 0.5);
      margin-top: 5px; }
    .user-page .user-about .bio .bio-article {
      margin-top: 15px;
      font-style: italic; }
      .user-page .user-about .bio .bio-article:before {
        content: open-quote; }
      .user-page .user-about .bio .bio-article:after {
        content: close-quote; }
  .user-page .user-stats .stats-card {
    width: 100px;
    height: 80px;
    background-color: rgba(0, 121, 145, 0.2);
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column; }
    .user-page .user-stats .stats-card h4 {
      font-size: 14px;
      font-weight: 500;
      margin: auto; }
    .user-page .user-stats .stats-card h3 {
      font-size: 50px;
      margin: auto; }

#login-wrap {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0000008f; }

#login-popup, #signup-popup {
  z-index: 11;
  background-color: #fff;
  color: #222E50;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 20px #0000002d;
  position: fixed;
  margin: auto;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px; }
  #login-popup button, #signup-popup button {
    float: right;
    border-radius: 0;
    padding: 5px 10px 5px 10px;
    color: #222E50;
    font-size: 19px;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s all;
    -webkit-transition: 0.3s all; }
    #login-popup button:hover, #login-popup button::selection, #login-popup button:focus, #signup-popup button:hover, #signup-popup button::selection, #signup-popup button:focus {
      background-color: #23464d2a;
      box-shadow: none;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.15);
      transition: 0.3s all;
      -webkit-transition: 0.3s all;
      outline: 0; }
  #login-popup form, #signup-popup form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #login-popup form input, #signup-popup form input {
      background-color: rgba(0, 121, 145, 0.1);
      color: #222E50;
      font-size: 14px;
      box-sizing: border-box;
      border: 0;
      border-radius: 20px;
      margin: 5px auto;
      width: 185px;
      padding: 15px; }
      #login-popup form input:hover, #login-popup form input::selection, #login-popup form input:focus, #signup-popup form input:hover, #signup-popup form input::selection, #signup-popup form input:focus {
        background-color: rgba(0, 0, 0, 0.15);
        box-shadow: 0 3px 7px #0000000e;
        transition: 0.3s all;
        outline-style: none; }
      #login-popup form input[type=submit], #signup-popup form input[type=submit] {
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #fff;
        background-color: #007991;
        cursor: pointer; }
        #login-popup form input[type=submit]:hover, #login-popup form input[type=submit]::selection, #login-popup form input[type=submit]:focus, #signup-popup form input[type=submit]:hover, #signup-popup form input[type=submit]::selection, #signup-popup form input[type=submit]:focus {
          background-color: #005b6d;
          box-shadow: 0 3px 7px #0000000e;
          transition: 0.3s all; }
    #login-popup form h3, #signup-popup form h3 {
      font-size: 36px;
      font-weight: 500;
      cursor: default;
      margin: 0 0 10px 3px; }
    #login-popup form .passv-tip, #signup-popup form .passv-tip {
      display: none;
      color: #ff3131;
      font-size: 14px;
      background-color: #ff313133;
      padding: 5px;
      border-radius: 14px;
      margin: 2px 0 2px 0;
      text-align: center;
      transition: 0.3s all;
      -webkit-transition: 0.3s all; }
    #login-popup form p, #signup-popup form p {
      margin: 2px 0 0 0;
      display: flex;
      justify-content: center; }
      #login-popup form p a, #signup-popup form p a {
        font-size: 14px;
        font-weight: 500;
        width: 80px;
        text-decoration: none;
        text-transform: lowercase;
        color: #007991;
        letter-spacing: 0;
        padding: 5px 0 5px 0;
        border-radius: 20px;
        text-align: center;
        transition: 0.3s all; }
        #login-popup form p a:hover, #login-popup form p a::selection, #login-popup form p a:focus, #signup-popup form p a:hover, #signup-popup form p a::selection, #signup-popup form p a:focus {
          color: #222;
          cursor: pointer;
          width: 185px;
          background-color: rgba(0, 0, 0, 0.15);
          transition: 0.4s all;
          outline: 0; }

#post-form .post-wrap {
  z-index: 1;
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0000008f; }
#post-form form {
  z-index: 2;
  background-color: #fff;
  color: #222E50;
  width: 600px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 20px #0000002d;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px; }
  #post-form form .top {
    display: flex;
    margin-bottom: 10px; }
    #post-form form .top input {
      margin: 0;
      width: 100%;
      flex-grow: 10; }
    #post-form form .top .post-popup-close {
      border-radius: 10px;
      text-align: center;
      height: 47px;
      margin-left: 10px;
      width: 47px;
      margin-bottom: 0;
      padding: 0;
      background-color: rgba(0, 121, 145, 0.1);
      color: #222E50;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer; }
      #post-form form .top .post-popup-close:hover, #post-form form .top .post-popup-close::selection, #post-form form .top .post-popup-close:focus {
        background-color: #23464d2a;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.15);
        outline: 0; }
  #post-form form .down {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; }
    #post-form form .down input[type="text"] {
      width: 0;
      flex-grow: 2;
      margin-bottom: 0; }
    #post-form form .down input[type="submit"] {
      width: 0;
      margin-bottom: 0;
      background-color: #007991;
      margin-left: 10px;
      flex-grow: 1;
      right: 20px;
      color: #fff; }
      #post-form form .down input[type="submit"]:hover {
        box-shadow: inset 0 -3px 0px rgba(255, 255, 255, 0.3), 0 5px 5px rgba(0, 78, 94, 0.15); }
  #post-form form input, #post-form form textarea {
    background-color: rgba(0, 121, 145, 0.1);
    color: #222E50;
    resize: none;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    width: 100%;
    padding: 15px; }
    #post-form form input:hover, #post-form form input::selection, #post-form form input:focus, #post-form form textarea:hover, #post-form form textarea::selection, #post-form form textarea:focus {
      background-color: #23464d2a;
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.15);
      transition: 0.3s all;
      -webkit-transition: 0.3s all;
      outline: 0; }

.container #user-page {
  margin: 20px 10px 20px 10px;
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(34, 34, 34, 0.05); }
  .container #user-page .top .avatar {
    width: 30%;
    height: 30%; }

#error-page {
  background-color: #007991;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  vertical-align: middle; }
  #error-page .content {
    display: flex;
    margin: auto; }
    #error-page .content .error-text {
      vertical-align: middle;
      margin: auto; }
      #error-page .content .error-text h4 {
        font-size: 48px;
        color: #fff; }
      #error-page .content .error-text h2 {
        color: #fff;
        font-weight: 500; }
    #error-page .content p {
      font-size: 65px;
      color: #fff;
      margin-right: 5px; }

@media all and (min-width: 100px) and (max-width: 1000px) {
  #content .container .right-col {
    display: none !important; }
  #content .container .left-col {
    margin: 0 10px 0 10px; } }
@media all and (min-width: 100px) and (max-width: 630px) {
  .header .container {
    display: flex;
    max-width: 630px;
    min-width: 100px; }
    .header .container #header-title {
      display: block; }
    .header .container #header-nav {
      padding: 0;
      justify-self: flex-end; }
      .header .container #header-nav li:first-of-type {
        padding: 0; }
      .header .container #header-nav .user-menu {
        width: 100%; }
        .header .container #header-nav .user-menu li {
          width: 100%; }
        .header .container #header-nav .user-menu a {
          width: 100%; }

  #footer .container {
    display: flex;
    flex-direction: column; }
    #footer .container .column {
      margin-bottom: 10px; } }

/*# sourceMappingURL=main.css.map */
