* {
  margin: 0;
  font-family: Rubik;
  color: #222E50;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: 0.3s all !important;
  -webkit-transition: 0.3s all !important; }

input, textarea {
  -moz-user-select: text;
  -webkit-user-select: text; }

input:required, input:invalid, textarea:required {
  box-shadow: none; }

code {
  font-family: 'Courier New', Courier, monospace; }

::-moz-selection, ::-webkit-selection {
  background-color: rgba(0, 119, 142, 0.5); }

a:hover {
  color: #f6a623; }

h1, h2, h3, h4 {
  color: #222E50; }

p {
  line-height: 1.5; }

code {
  font-size: 16px;
  background-color: #0000001a;
  padding: 3px; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

body {
  max-width: 100% !important;
  overflow-x: hidden;
  margin-top: 72px;
  background-color: #fff; }

.navbar {
  max-width: 100%; }

.dropdown-menu a {
  color: rgba(34, 46, 80, 0.85) !important; }
.dropdown-menu i {
  margin-left: -10px;
  margin-right: 10px;
  color: rgba(34, 46, 80, 0.85) !important; }

.navbar-outline {
  background-color: #fff !important;
  box-shadow: inset 0 -2px 0 rgba(0, 121, 145, 0.2); }

.nav-scrolled {
  box-shadow: inset 0 -2px 0 rgba(0, 121, 145, 0.2), 0 2px 20px rgba(0, 121, 145, 0.1); }

.navbar .mobile {
  display: none; }
.navbar .desktop .dropdown-menu a {
  color: rgba(34, 46, 80, 0.85); }
.navbar .desktop .dropdown-menu i {
  margin-left: -10px;
  margin-right: 10px;
  color: rgba(34, 46, 80, 0.85); }
.navbar .mobile li a {
  color: rgba(34, 46, 80, 0.85) !important; }
.navbar .mobile i {
  margin-right: 10px;
  color: rgba(34, 46, 80, 0.85); }
.navbar .navbar-brand {
  padding: 3px 0; }
.navbar .login {
  margin-left: 10px;
  border-color: #007991;
  color: #007991; }
  .navbar .login:hover {
    color: #fff;
    border-color: #007991;
    background-color: #007991; }
.navbar #header-title {
  align-content: center;
  display: flex; }
  .navbar #header-title .onHover {
    fill: #f6a623;
    stroke: #f6a623; }
  .navbar #header-title .onHoverStr {
    fill: #f6a623; }
  .navbar #header-title svg {
    width: 45px !important;
    height: 35px !important; }
    .navbar #header-title svg path, .navbar #header-title svg rect {
      fill: #007991; }
    .navbar #header-title svg rect {
      stroke: #007991; }
.navbar .avatar {
  width: 40px;
  height: 40px;
  margin: -12px -10px -10px -10px;
  border-radius: 50%; }

.sticky-footer {
  bottom: 0;
  position: fixed;
  width: 100%; }

#footer {
  background-color: #161e2e;
  padding: 50px 0; }
  #footer .container {
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 10px;
    margin: 0 auto 0 auto; }
    #footer .container .column {
      min-width: 300px;
      max-width: 650px;
      vertical-align: top; }
      #footer .container .column h4 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.1em; }
        #footer .container .column h4 a:hover {
          color: #f6a623; }
      #footer .container .column p {
        color: #fff;
        margin-top: 17px; }
      #footer .container .column a img {
        margin-right: 10px;
        filter: grayscale(1);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: 0.3s all;
        -webkit-transition: 0.3s all; }
        #footer .container .column a img:hover {
          filter: none;
          transition: 0.3s all;
          -webkit-transition: 0.3s all; }
      #footer .container .column .link-about {
        text-decoration: none;
        color: #fff; }

.post-form {
  background-color: rgba(0, 121, 145, 0.15) !important; }
  .post-form .default {
    display: none; }
  .post-form .post-form-text {
    margin-right: 15px;
    margin-left: 15px; }
    .post-form .post-form-text .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
      border-color: #ced4da;
      margin-bottom: -1px; }
    .post-form .post-form-text .form-control {
      height: 20em;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
    .post-form .post-form-text .textarea-default {
      background: none;
      border: none;
      resize: none;
      margin-top: -5px;
      margin-bottom: -10px;
      height: 37px; }
  .post-form input[type="submit"] {
    background-color: #007991;
    border-color: #007991; }
    .post-form input[type="submit"]:hover {
      background-color: #007087;
      border-color: #007087; }
    .post-form input[type="submit"]:active {
      background-color: #006478 !important;
      border-color: #006478 !important; }

#content {
  display: contents;
  overflow: hidden; }
  #content .left-col .post {
    margin: 0 0 15px 0;
    display: block;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 0.05); }
    #content .left-col .post a {
      color: #1abc9c; }
    #content .left-col .post h4 {
      margin: 0;
      color: #222E50; }
    #content .left-col .post .hint {
      background-color: #ffcaca;
      color: #ff2020;
      padding: 7px;
      border-radius: 10px;
      position: absolute;
      box-shadow: 0 5px 10px rgba(34, 46, 80, 0.15); }
  #content .left-col .post-author {
    background-color: rgba(0, 121, 145, 0.15);
    border-radius: 10px 10px 0 0;
    font-weight: 500;
    margin: -20px;
    padding: 20px; }
    #content .left-col .post-author span {
      margin-left: 10px; }
      #content .left-col .post-author span a {
        color: #222E50; }
        #content .left-col .post-author span a:hover {
          color: #f6a623; }
    #content .left-col .post-author img {
      width: 50px;
      height: 50px;
      vertical-align: middle;
      border-radius: 50%; }
  #content .left-col .post-menu {
    float: right; }
    #content .left-col .post-menu button {
      background: none !important;
      border: none !important;
      margin: 12px 0 0 5px; }
      #content .left-col .post-menu button:active, #content .left-col .post-menu button::selection, #content .left-col .post-menu button:focus {
        outline: none; }
  #content .left-col .post-date {
    color: rgba(34, 46, 80, 0.5);
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    margin-top: 15px;
    display: block;
    float: right;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  #content .left-col .post-title {
    margin: 20px -20px 0px -20px;
    padding: 5px 20px 5px 20px;
    font-weight: 500;
    font-size: 18px;
    background-color: rgba(0, 100, 120, 0.06);
    -webkit-user-select: text;
    color: #222E50; }
  #content .left-col .post-content {
    margin-top: 15px; }
    #content .left-col .post-content h1, #content .left-col .post-content h2, #content .left-col .post-content h3, #content .left-col .post-content h4, #content .left-col .post-content h5 {
      margin: 20px 0 10px 0; }
    #content .left-col .post-content img {
      display: block;
      margin: 20px auto 20px auto;
      width: 50%;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 100, 120, 0.06);
      height: auto; }
    #content .left-col .post-content p {
      -webkit-user-select: text; }
  #content .left-col .bottom-acts {
    display: flex;
    margin-top: 15px;
    flex-direction: row; }
    #content .left-col .bottom-acts .social-acts {
      align-items: center;
      display: flex;
      justify-self: flex-start; }
      #content .left-col .bottom-acts .social-acts .social-btn {
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center; }
        #content .left-col .bottom-acts .social-acts .social-btn p {
          font-weight: 500;
          margin: auto;
          margin-left: 5px;
          font-size: 18px;
          color: rgba(34, 46, 80, 0.5); }
        #content .left-col .bottom-acts .social-acts .social-btn svg {
          width: 30px;
          height: 30px;
          fill: none; }
          #content .left-col .bottom-acts .social-acts .social-btn svg:hover {
            cursor: pointer; }
        #content .left-col .bottom-acts .social-acts .social-btn .like path {
          stroke: rgba(34, 46, 80, 0.5);
          stroke-width: 2.4px;
          fill: #ffffff00; }
          #content .left-col .bottom-acts .social-acts .social-btn .like path:hover {
            stroke: #EB5757;
            fill: #eb575728 !important; }
        #content .left-col .bottom-acts .social-acts .social-btn .liked {
          fill: #EB5757 !important;
          stroke: #EB5757 !important; }
        #content .left-col .bottom-acts .social-acts .social-btn .repost path {
          fill: rgba(34, 46, 80, 0.5); }
          #content .left-col .bottom-acts .social-acts .social-btn .repost path:hover {
            fill: #007991; }
        #content .left-col .bottom-acts .social-acts .social-btn .comments {
          margin-bottom: -1px; }
          #content .left-col .bottom-acts .social-acts .social-btn .comments path {
            stroke: rgba(34, 46, 80, 0.5);
            stroke-width: 1.7px;
            fill: #ffffff00; }
            #content .left-col .bottom-acts .social-acts .social-btn .comments path:hover {
              fill: #007991;
              stroke: #007991; }
    #content .left-col .bottom-acts .tags {
      display: flex;
      justify-self: flex-end;
      align-items: center;
      margin-left: auto; }
      #content .left-col .bottom-acts .tags h4 {
        font-weight: 500;
        font-size: 16px;
        margin: auto;
        margin-left: 5px;
        color: rgba(34, 46, 80, 0.5); }
        #content .left-col .bottom-acts .tags h4 a {
          color: rgba(34, 46, 80, 0.5); }
          #content .left-col .bottom-acts .tags h4 a:hover {
            color: #f6a623; }
  #content .right-col {
    margin-right: 15px;
    display: flex;
    background-color: rgba(0, 121, 145, 0.15);
    height: max-content;
    border-radius: 10px; }
    #content .right-col .right-col-content {
      display: flex;
      align-items: stretch;
      flex-direction: column; }
      #content .right-col .right-col-content .postwr {
        background-color: #007991;
        color: #fff;
        font-size: 14px;
        margin: 10px -5px 0px -5px; }
        #content .right-col .right-col-content .postwr:hover {
          box-shadow: inset 0 -3px 0px rgba(255, 255, 255, 0.3), 0 5px 5px rgba(0, 78, 94, 0.15); }
    #content .right-col .thread_name {
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin: 10px -5px; }
    #content .right-col .popular-opener {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center; }
      #content .right-col .popular-opener .thread-name-first {
        margin-top: 0;
        margin-bottom: 0; }
      #content .right-col .popular-opener .span-opened {
        transform: rotate(180deg) !important; }
      #content .right-col .popular-opener i {
        display: none;
        position: absolute;
        right: 30px; }
    #content .right-col .threads {
      padding: 0;
      margin: 0; }
      #content .right-col .threads a {
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        color: rgba(34, 46, 80, 0.6);
        width: 100% !important; }
      #content .right-col .threads .posts_counter {
        text-align: right;
        font-weight: 400;
        font-size: 14px;
        color: rgba(34, 46, 80, 0.6);
        width: 100% !important; }
      #content .right-col .threads li {
        margin: 0 -15px;
        list-style: none;
        display: flex;
        padding: 7px 10px 7px 10px;
        background-color: rgba(10, 79, 93, 0.18); }
        #content .right-col .threads li:nth-child(even) {
          background-color: rgba(8, 86, 102, 0.12); }
        #content .right-col .threads li:last-of-type {
          border-radius: 0 0 10px 10px; }
        #content .right-col .threads li:hover {
          background-color: rgba(7, 71, 84, 0.25); }

.user-card {
  margin: 0 0 15px 0;
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(34, 34, 34, 0.05); }
  .user-card .top {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -20px -20px 0 -20px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(0, 121, 145, 0.2);
    border-radius: 10px 10px 0px 0px; }
    .user-card .top .main-info {
      display: flex;
      align-content: center;
      align-items: center; }
      .user-card .top .main-info .avatar {
        justify-self: flex-start;
        width: 30%;
        height: auto;
        border-radius: 50%;
        margin-right: 20px; }
      .user-card .top .main-info .info {
        justify-self: flex-end;
        align-content: center; }
        .user-card .top .main-info .info .user-name {
          font-weight: 500;
          font-size: 24px;
          color: #222E50; }
          .user-card .top .main-info .info .user-name::before {
            content: "@"; }
        .user-card .top .main-info .info .real-name {
          margin: 7px 0 0 0;
          color: rgba(34, 46, 80, 0.5);
          margin-top: 5px; }
    .user-card .top .bio-article {
      margin-top: 15px;
      font-style: italic; }
      .user-card .top .bio-article:before {
        content: open-quote; }
      .user-card .top .bio-article:after {
        content: close-quote; }
  .user-card .user-stats {
    display: flex;
    flex-direction: row;
    margin-top: 20px; }
    .user-card .user-stats .stats-card {
      background-color: rgba(0, 121, 145, 0.15);
      margin-right: 20px;
      display: flex;
      padding: 10px;
      justify-content: center;
      justify-items: center;
      border-radius: 10px;
      flex-direction: column; }
      .user-card .user-stats .stats-card h4 {
        font-size: 14px;
        border-radius: 10px 10px 0 0;
        font-weight: 500;
        text-transform: uppercase;
        background-color: rgba(0, 121, 145, 0.15);
        padding: 10px;
        margin: -10px; }
      .user-card .user-stats .stats-card h3 {
        font-size: 36px;
        margin: 15px auto auto auto; }

#login-wrap {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0000008f; }

#login-popup, #signup-popup {
  z-index: 11;
  background-color: #fff;
  color: #222E50;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 5px 20px #0000002d;
  position: fixed;
  margin: auto;
  align-content: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px; }
  #login-popup .login-popup-close, #signup-popup .login-popup-close {
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px; }
    #login-popup .login-popup-close i, #signup-popup .login-popup-close i {
      color: rgba(51, 51, 51, 0.5) !important; }
      #login-popup .login-popup-close i:hover, #login-popup .login-popup-close i::selection, #login-popup .login-popup-close i:focus, #signup-popup .login-popup-close i:hover, #signup-popup .login-popup-close i::selection, #signup-popup .login-popup-close i:focus {
        outline: 0;
        color: rgba(51, 51, 51, 0.8) !important;
        cursor: pointer; }
  #login-popup form, #signup-popup form {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-items: center; }
    #login-popup form .alert-danger, #signup-popup form .alert-danger {
      display: none; }
    #login-popup form .show-pass, #signup-popup form .show-pass {
      position: relative;
      top: -31px;
      left: 185px;
      color: rgba(51, 51, 51, 0.5) !important; }
      #login-popup form .show-pass:hover, #signup-popup form .show-pass:hover {
        color: rgba(51, 51, 51, 0.8) !important;
        cursor: pointer; }
    #login-popup form .pass-shown, #signup-popup form .pass-shown {
      color: #007991 !important; }
    #login-popup form input[type="submit"], #signup-popup form input[type="submit"] {
      margin-top: -24px;
      background-color: #007991;
      border-color: #007991; }
      #login-popup form input[type="submit"]:hover, #signup-popup form input[type="submit"]:hover {
        background-color: #007087;
        border-color: #007087; }
      #login-popup form input[type="submit"]:active, #signup-popup form input[type="submit"]:active {
        background-color: #006478 !important;
        border-color: #006478 !important; }
    #login-popup form .passv-tip, #signup-popup form .passv-tip {
      justify-content: center; }
      #login-popup form .passv-tip p, #signup-popup form .passv-tip p {
        align-self: center;
        margin: 0; }
    #login-popup form .switch-tab, #signup-popup form .switch-tab {
      font-weight: 500;
      border-radius: 0;
      width: 100%; }
      #login-popup form .switch-tab a, #signup-popup form .switch-tab a {
        color: rgba(0, 104, 125, 0.7);
        width: 100%;
        display: flex;
        justify-content: center; }
        #login-popup form .switch-tab a:hover, #login-popup form .switch-tab a::selection, #login-popup form .switch-tab a:focus, #signup-popup form .switch-tab a:hover, #signup-popup form .switch-tab a::selection, #signup-popup form .switch-tab a:focus {
          color: #f6a623;
          text-decoration: none;
          cursor: pointer;
          background-color: #e9ecef;
          border-radius: 5px;
          outline: none; }

#error-page {
  background-color: #007991;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  vertical-align: middle; }
  #error-page .content {
    display: flex;
    margin: auto; }
    #error-page .content .error-text {
      vertical-align: middle;
      margin: auto; }
      #error-page .content .error-text h4 {
        font-size: 48px;
        color: #fff; }
      #error-page .content .error-text h2 {
        color: #fff;
        font-weight: 500; }
    #error-page .content p {
      font-size: 65px;
      color: #fff;
      margin-right: 5px; }

@media all and (min-width: 100px) and (max-width: 767px) {
  body {
    margin-top: 67px; }

  .row {
    margin-left: -20px;
    margin-right: -20px; }

  .post-form-text {
    margin-left: 20px !important;
    margin-right: 20px !important; }

  .user-card {
    margin: 0 -10px 0 -10px;
    padding: 10px;
    border-radius: 0; }
    .user-card .top {
      margin: -10px -10px 0 -10px;
      border-radius: 0; }
      .user-card .top .avatar {
        min-width: 35%; }
      .user-card .top .real-name {
        width: 150px; }
    .user-card .user-stats {
      margin-right: -10px;
      margin-left: -10px;
      padding-left: 10px;
      margin-top: 10px;
      overflow-x: scroll; }

  #content .alert {
    margin: 10px -10px;
    border-radius: 0px; }
  #content .post {
    margin: 0 -10px 10px -10px !important;
    border-radius: 0 !important; }
    #content .post .dropdown-menu {
      left: -60px !important; }
    #content .post .tags {
      order: -1;
      margin: 0 0 10px 0; }
    #content .post .post-author {
      border-radius: 0; }
    #content .post .post-content img {
      width: 100% !important; }
    #content .post .bottom-acts {
      flex-direction: column; }
      #content .post .bottom-acts .tags {
        justify-content: flex-start;
        margin-top: 10px;
        margin-left: 0; }
        #content .post .bottom-acts .tags h4 {
          margin-left: 0; }
        #content .post .bottom-acts .tags h4, #content .post .bottom-acts .tags a {
          font-size: 18px; }
  #content .right-col {
    border-radius: 0;
    margin-right: 0;
    margin-bottom: 10px;
    display: block; }
    #content .right-col .right-col-content {
      padding: 10px 10px 0 10px; }
      #content .right-col .right-col-content .postwr {
        margin: 0 !important; }
      #content .right-col .right-col-content .popular-opener {
        padding: 10px;
        margin: -10px -10px 0 -10px;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center; }
        #content .right-col .right-col-content .popular-opener .thread-name-first {
          margin-top: 0;
          margin-bottom: 0; }
        #content .right-col .right-col-content .popular-opener i {
          display: block;
          position: absolute;
          right: 30px; }
      #content .right-col .right-col-content .opened {
        display: block !important; }
      #content .right-col .right-col-content .threads {
        display: none;
        padding-margin: 0px -5px 10px -5px; }
        #content .right-col .right-col-content .threads li {
          margin: 0 -20px;
          padding-right: 20px;
          padding-left: 20px; }
          #content .right-col .right-col-content .threads li:last-child {
            border-radius: 0; }

  #login-popup, #signup-popup {
    width: auto;
    height: auto;
    border-radius: 0; }

  .navbar .login {
    margin-left: 0; }

  .mobile {
    display: block !important; }

  .desktop {
    display: none; }

  #footer .container {
    display: flex;
    flex-direction: column; }
    #footer .container .column {
      margin-bottom: 10px; } }

/*# sourceMappingURL=main.css.map */
